.form__button {
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: 50px;
  padding-top: 14px;
  padding-bottom: 18px;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

.form__button:hover {
  background-color:rgba(0, 0, 0, .8);
}

@media screen and (max-width: 783px) {
  .form__button {
    height: 46px;
    font-size: 14px;
    line-height: 1.21;
  }
}
