.profile__edit-button {
  background-color: transparent;
  background-image: url(../../../images/buttons/button-edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 24px;
  height: 24px;
  cursor: pointer;
  flex-shrink: 0;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 783px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
