.profile__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-width: 0;
}

@media screen and (max-width: 783px) {
  .profile__info {
    margin-bottom: 34px;
  }
}
