.popup__container {
  background-color: #ffffff;
  height: 330px; /*размер под содержимое?*/
  width: 430px;
  position: relative;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 35px 36px 37px;
  margin: auto;
}

@media screen and (max-width: 783px) {
  .popup__container{
    max-width: 88%;
    height: 322px;
    padding: 25px 22px;
  }
}
