.page__container {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 60px;
  box-sizing: border-box;
  background-color: #000;
  color: #FFFFFF;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 536px) {
  .page__container {
    padding-top: 28px;
    padding-bottom: 36px;
  }
}
