.content {
  padding-left: calc((100% - 880px)/2);
  padding-right: calc((100% - 880px)/2);
}

@media screen and (max-width: 940px) {
  .content {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 536px) {
  .content {
    padding-left: 19px;
    padding-right: 19px;
  }
}
