.form__input-error {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.21;
  color: #FF0000;
  display: inline-block;
  min-height: calc(12px*2*1.21);
  width: 100%;
  padding-top: 1px;
}

@media screen and (max-width: 536px) {
  .form__input-error {
    min-height: 27px;
  }
}
