.form__input {
  border: 0;
  padding: 0;
  padding-bottom: 9px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
  outline: none;
}

.form__input:focus {
  outline-color: rgba(0, 0, 0, .2);
}

.form__input::placeholder {
  font-size: 14px;
  font-family: inherit;
  line-height: 1.21;
  color:#D3D3D3;
}
.form__input::-webkit-input-placeholder {
  font-size: 14px;
  font-family: inherit;
  line-height: 1.21;
  color: #D3D3D3;
}
.form__input::-moz-placeholder {
  font-size: 14px;
  font-family: inherit;
  line-height: 1.21;
  color: #D3D3D3;
}
.form__input::-ms-input-placeholder {
  font-size: 14px;
  font-family: inherit;
  line-height: 1.21;
  color: #bcbcc4;
}
