.profile__avatar {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  max-width: 120px;
  max-height: 120px;
}

@media screen and (max-width: 783px) {
  .profile__avatar {
    margin-bottom: 26px;
  }
}
