.popup__caption {
  font-size: 12px;
  line-height: 1.25;
  padding-top: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 783px) {
  .popup__caption {
    line-height: 1.21;
  }
}
