.footer {
  padding-top: 66px;
  padding-left: calc((100% - 880px)/2);
  padding-right: calc((100% - 880px)/2);
}


@media screen and (max-width: 940px) {
  .footer {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 536px) {
  .footer {
    padding-left: 19px;
    padding-right: 19px;
  }
}
